/* Header */


a, a:hover {
	text-decoration: none;
}
main {
	background-color: LightGray;
}

select {
	font-size: 10px;
	background-color: #1a1a1a;
	color: white;
	position: relative; 
	left: 9px;	
}

.actu-milieu {
	padding-top: 15px;
}

.actu-mineures {
	padding-top: 15px;
}

.actu-petit {
	padding-bottom: 15px;
}

.actu-titre {
	color: DarkBlue;
	font-size: 24px;
	font-weight: bolder;
}

.en-continu {
	background-color: red;
	color: white;
	font-weight:bold;
	font-size: 16px;
	margin-top: 15px;
}

.header-colonne {
	margin : 0;
	height: 28px;
	padding-left: 0;
	padding-right: 0;
	border-left: solid 1px grey;
}

.header-colonne:hover {
	background-color: black;
}

.header-bottom-menu-button {
	border: solid 1px LightGray;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.header-top {
	font-size : 10px;	
	line-height: 28px;
}

.header-top a{
	color: white;
	text-decoration: none;
}

.header-yellow {
	background-color: gold;
	padding-left: 10px;
	padding-right: 0;
	border: solid 1px LightGray;
}

.header-yellow a{
	color: black;
	font-weight: bold;
}

.ligne {
	width: 100%;
	height: 8px;
	background-color: LightGray;
}

.margin-bot-25 {
	margin-bottom: 25px;
}

#header-bottom a{
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

#header-bottom-menu {
	border-top: solid 2px gray;
}

#header-middle {
	line-height: 40px;
}

#header-middle a{
	color: black;
	font-weight: bold;
	opacity: 0.5;
}

#header-middle a:hover {
	opacity: 1.0;
}

#header-top-bg {
	background-color: #1a1a1a;
}

#logo {
	text-align: center;
	border-top: solid 1px LightGray;
}

#main-colonnes {
	background-color: white;
	margin-top: 0;	
}

#main-titre:hover {
	color: cyan;
}

#menu-select {
	line-height: 28px;
}

#menus-top {
	background-color: #1a1a1a;
	color: white;
	font-weight: bold;
	padding: 1px;		
}

#pub {
	text-align: center;


}

#rouge {
	background-color: red;
	color: white;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
}

#text-black {
	color: black;
}

#toute-lactu {
	background-color: LightGray;
	padding-left: 10px;
}
.dfp_slot.banniere {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    min-height: 90px;
}
.dfp_slot {
    position: relative;
    line-height: 0;
}
